html {
  font-size: 100%;
}

body {
  font-family: "Sen";

  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #243b55,
    #223750,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bodyText {
  color: #eeeeee;
}

.bodyInput {
  background-color: #141e30 !important;
  color: #eeeeee !important;
  border: 1px solid #092715 !important;
}

.main-body {
  max-width: 90vw !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 25px auto auto auto !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #28b161 !important;
  color: #eee !important;
  border: none !important;
}
