.navbar {
  background: transparent;
  padding-left: 50px !important;
  padding-right: 50px !important;
  z-index: 1;
}

.navbar-brand {
  font-family: "Dancing Script";
  font-weight: 400;
  color: #40d47e !important;
  font-size: 2em !important;
  width: 100px;
}

.nav-link {
  font-family: "Sen";
  color: #eeeeee !important;
}
