.navbar {
  line-height: 1.5;
  padding-left: 25px !important;
  padding-right: 25px !important;
  z-index: 1;
}

.navbar-brand {
  font-family: "Dancing Script";
  font-weight: 400;
  color: #40d47e !important;
  font-size: 2em !important;
  width: 150px;
}

.nav-link {
  font-size: 1em;
  font-family: "Sen";
  width: 100px;
  color: #eeeeee !important;
}

a {
  color: white !important;
  text-decoration: none !important;
}
