.imgCard {
  background-color: #141e30;
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
}

.likeCount {
  margin-top: 5px;
  margin-left: 5px;
  color: #eeeeee;
}

.innerImg {
  border-radius: 10px;
  width: 300px;
}
